.nameFlower {
    font-size: 4vh;

    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
    /*font-size: 2vmax;*/
    /*font-size: 2vw;*/
}

.img {
    height: 14em;
    width: 14em;
    margin-top: 0.7em;
    border-radius: 3px;
}

.card {
    width: 98vw;
    border: darkgray 1px solid;
    border-radius: 8px;
    margin: 10px;
}