.img {
    height: 600px;
}

.trash {
    height: 1em;
    width: 1em;
}

.uploadFile {
    padding: 2px;
    margin: 2px;
    border: darkgray 1px solid;
    display: inline-block;
}

.upload_text {
    color: orangered;
}

.off {
    color: red;
}

.charac {
    color: gray;
}

.name {
    font-size: 3em;
}