.main_orderItem_wrapper {
    display: grid;

    grid-template-areas:
    "img text numbers price del";

    grid-template-columns: 4fr 10fr 2fr 2fr 1fr ;
}

.img {
    grid-area: img;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.text {
    grid-area: text;
    float: right;
}

.numbers {
    grid-area: numbers;
    white-space: nowrap;
    align-self: center;
}

.price {
    grid-area: price;
    align-self: center;
}

.del {
    grid-area: del;
    align-self: center;
    border-radius: 5px;
}

.del:hover {
    height: 2em;
    width: 2em;
    background: orange;
    border-radius: 50%
}

.trash {
    height: 2em;
    width: 2em;

}

.delAll {
    padding: 2px;
    display: inline-block;
}

.delAll:hover {
    display: inline-block;
    padding: 2px;
    background: orange;
    border-radius: 10px;
}